
  <form>
<div class="container ">
    <div class="btn btn-block bg-primary text-white bo-btn" style="cursor: default !important;"><h5 class="mt-1">User Management</h5></div>
<div class="card bg-white rounded shadow p-3  mt-4">
<div class="row ">
  <div class="form-group col-6">
    <label>First Name</label>
    <input type="text" class="form-control">
 
  </div>

 <div class="form-group col-6">
    <label >Last Name</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="form-group col-6">
    <label >Email</label>
    <input type="email" class="form-control"  >
 
  </div>

 <div class="form-group col-6">
    <label >User Id</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="form-group col-6">
    <label>Password</label>
    <input type="Password" class="form-control"  >
 
  </div>

 <div class="form-group col-6">
   
    <label >Role</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
 
  </div>
</div>
<div class=" col-2 btn mt-4 btn-sm shadow addUser-btn">ADD USER</div>
</div>

<div class=" card bg-white rounded shadow mt-4">
<div class="row p-3">
    <div class="col-3">
 <label >List Users</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>

      <option>4</option>
      <option>5</option>
    </select>
    </div>
</div>
  </div>
  </div>
</form>
